<div class="container">
    <div class="row g-3">
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

            <div class="alert alert-primary" role="alert">
                There is nothing more romantic than delicious food.
              </div>
              <div class="alert alert-secondary" role="alert">
                Part of the secret to success in life is to eat what you like.
              </div>
              <div class="alert alert-success" role="alert">
                Good food is the foundation of genuine happiness.
              </div>
              <div class="alert alert-danger" role="alert">
                The only thing I like better than talking about food is eating.
              </div>
              <div class="alert alert-warning" role="alert">
                The food you eat can be either the safest and most powerful form of medicine or the slowest form of poison. 
              </div>
              
      
                

        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <table class="table">
                <tr>
                    <td>Username</td>
                    <td><input type="text" class="form-control"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="" id="" class="form-control"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button class="btn btn-success">Sign in</button></td>
                </tr>
            </table>

        </div>


    </div>

   
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <table class="table">
                    <tr>
                        <td>Name</td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Date of Birth </td>
                        <td><input type="date" name="" id="" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Phone Number</td>
                        <td><input type="text" class="form-contol"></td>
                    </tr>
                    <tr>
                        <td>PIN CODE</td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Username</td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input type="password" name="" id="" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Conform Password </td>
                        <td><input type="password" name="" id="" class="form-control"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button class="btn btn-success">Login</button></td>
                    </tr>
                </table>


            </div>
    </div>
</div>
