<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card" >
                        <img height="200px" src="https://th.bing.com/th/id/R.7353c98f2ab854995691c8b92254b03c?rik=g4ByJCnWVyPECQ&riu=http%3a%2f%2fstatic1.businessinsider.com%2fimage%2f55005b546bb3f70114215c96%2f7-real-indian-dishes-you-should-try-instead-of-the-westernized-knockoffs.jpg&ehk=D%2b9AFDPwK0m1jWDb83isBCVFFLCg%2b4Pu59kPPCVN79g%3d&risl=&pid=ImgRaw&r=0" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Koft</h5>
                          <p class="card-text">180</p>
                          <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                      </div>
</div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" >
                        <img height="200px" src="https://www.bonappetour.com/assets/images/experiences/1473427790-3495967.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Meal</h5>
                          <p class="card-text">420</p>
                          <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                      </div>
                    
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" >
                        <img height="200px" src="https://th.bing.com/th/id/OIP.qsy_2UZaW_65qrR-m3H-oAHaFR?pid=ImgDet&rs=1" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"> Tandoori chicken</h5>
                          <p class="card-text">320</p>
                          <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card" >
                        <img height="200px" src="https://im.whatshot.in/img/2019/Jun/shutterstock-1153818823-cropped-1561026121.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Breakfast combo</h5>
                          <p class="card-text">520</p>
                          <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card" >
                        <img height="200px" src="https://s3.scoopwhoop.com/dan/spicyfood1/5.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"> Gopi 65</h5>
                          <p class="card-text">220</p>
                          <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                      </div>

                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card" >
                        <img height="200px" src="https://travelspoonfood.files.wordpress.com/2012/02/img_6791.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title"> Veg Curry</h5>
                          <p class="card-text">190</p>
                          <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card" >
                        <img height="200px" src="https://i0.wp.com/l.yimg.com/bt/api/res/1.2/bL_FFWkrZw11R.joB72W0Q--/YXBwaWQ9eW5ld3M7Zmk9aW5zZXQ7aD02MzE7cT04NTt3PTk1MA--/http://l.yimg.com/os/401/2012/11/23/4-jpg_095536.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Madras Chicken</h5>
                          <p class="card-text">420</p>
                          <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="200px" src="https://th.bing.com/th/id/R.5773b66e37d5cc7bffaa39384594e77a?rik=3i7Eh06fR8PYLQ&riu=http%3a%2f%2fwww.wallpaperup.com%2fuploads%2fwallpapers%2f2014%2f11%2f09%2f511938%2f5773b66e37d5cc7bffaa39384594e77a.jpg&ehk=y%2fArgHus2u3pRcYpcdrCR4RstqIzHi4cf9EOz2GZmKA%3d&risl=1&pid=ImgRaw&r=0" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Butter Chicken</h5>
                          <p class="card-text">720</p>
                          <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card" >
                        <img height="200px" src="https://i.pinimg.com/originals/51/71/17/51711782cb20accdf3c8c508d470bcf8.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Big Indian Thali/h5>
                          <p class="card-text">1720</p>
                          <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">

                    <div class="card" >
                        <img height="200px" src="https://cdn.lifehack.org/wp-content/uploads/2015/02/20150204_140124.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Chettinad chicken</h5>
                          <p class="card-text">320</p>
                          <a href="#" class="btn btn-primary">Add to Cart</a>
                        </div>
                      </div>

                </div>
            </div>
        </div>
    </div>
   </div>
